.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../Images//star.jpg");
  background-position: center;
  background-size: cover;
  height: 100dvh;
  overflow: hidden;
}
.container > h1 {
  font-size: 4rem;
  padding: 0.5em;
  color: white;
}
.images {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.img {
  opacity: 0;
  position: absolute;
  transform: translate(98%, 7%);
}

.img:nth-of-type(1) {
  animation: aryaAnim 1s ease-in-out 0.1s forwards;
}

.img:nth-of-type(2) {
  animation: jonAnim 1s ease-in-out 0.6s forwards;
}
.img:nth-of-type(3) {
  animation: nedAnim 1s ease-in-out 3.8s forwards;
}
.img:nth-of-type(4) {
  animation: robAnim 1s ease-in-out 1.1s forwards;
}
.img:nth-of-type(5) {
  animation: sansaAnim 1s ease-in-out 1.6s forwards;
}
.img:nth-of-type(6) {
  animation: awAnim 1s ease-in-out 1.8s forwards;
}
.img:nth-of-type(7) {
  animation: jwAnim 1s ease-in-out 2.3s forwards;
}
.img:nth-of-type(8) {
  animation: rwAnim 1s ease-in-out 2.8s forwards;
}
.img:nth-of-type(9) {
  animation: swAnim 1s ease-in-out 3.2s forwards;
}

.btn {
  align-self: flex-start;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 0.4em;
  padding: 0.4em;
  width: 6em;
  text-align: center;
}

@keyframes aryaAnim {
  0% {
    opacity: 0;
    transform: translate(0%, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(-80%, -50%) scale(0.3);
  }
}
@keyframes jonAnim {
  0% {
    opacity: 0;
    transform: translate(0%, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(-45%, -50%) scale(0.3);
  }
}
@keyframes nedAnim {
  0% {
    opacity: 0;
    transform: translate(0%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate(0%, -10%) scale(0.8);
  }
}
@keyframes robAnim {
  0% {
    opacity: 0;
    transform: translate(0%, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(45%, -50%) scale(0.3);
  }
}

@keyframes sansaAnim {
  0% {
    opacity: 0;
    transform: translate(0%, 7%);
  }

  100% {
    opacity: 1;
    transform: translate(80%, -50%) scale(0.3);
  }
}

/* layer 2 */
@keyframes awAnim {
  0% {
    opacity: 0;
    transform: translate(-80%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(-80%, 30%) scale(0.3);
  }
}
@keyframes jwAnim {
  0% {
    opacity: 0;
    transform: translate(-45%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(-45%, 30%) scale(0.3);
  }
}
@keyframes rwAnim {
  0% {
    opacity: 0;
    transform: translate(45%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(45%, 30%) scale(0.3);
  }
}

@keyframes swAnim {
  0% {
    opacity: 0;
    transform: translate(80%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(80%, 30%) scale(0.3);
  }
}
